---
title: "Cloudmesh Pi Cluster"
linkTitle: "Cloudmesh Pi Cluster"
---


{{< blocks/cover title="Cloudmesh Cluster Pi Planet" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4"
	   href="{{< relref "/docs" >}}">
		Documentation
		<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4"
	   href="https://github.com/cloudmesh/pi">
		Repository to contribute
		<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
		Educational Material to build clusters and IoT with Raspberry Pi's.
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


  {{% blocks/lead color="primary" %}}

  Educational Material to build clusters and IoT with Raspberry Pi's

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb"
    title="Cloudmesh Pi Cluster" %}}

Build a cluster with PIs easily..

Please follow this space for updates!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github"
    title="Contributions welcome!"
    url="https://github.com/cloudmesh"
	url_text="explore the repos ..."
%}}
Contributions to our **GitHub** repositories. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-blog"
    title="Follow us on our Blog!"
    url="https://github.com/cloudmesh/pi/blog" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}




{{< /blocks/section >}}


<!-- SECTION: EASILY BURN MULTIPLE CARDS -->

{{% blocks/lead color="primary" %}}

Easily burn multiple SDCards

{{% /blocks/lead %}}

{{< blocks/section >}}

{{% blocks/feature icon="fas fa-info-circle"
    title="Easy setup"
	url="https://github.com/cloudmesh/cloudmesh-pi-burn/blob/main/README.md"
%}}
It is easy to setup and has simple instructions!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github"
    title="Contributions to Pi Burn are welcome!"
 	url="https://github.com/cloudmesh"
%}}
We do a [Pull Request](https://github.com/cloudmesh/cloudmesh-pi-burn/pulls)
and [Issues](https://github.com/cloudmesh/cloudmesh-pi-burn/issues)
contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-blog"
    title="Follow us on our Blog!"
    url="https://github.com/cloudmesh/pi/blog" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!-- SECTION: EMPTY

{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}

-->

<!-- SECTION: EMPTY

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}

-->