<div class="window-ubuntu">
    <div class="titlebar-ubuntu">
      <div class="buttons-ubuntu">
        <div class="bclose-ubuntu">
          <a class="closebutton-ubuntu" href="#"><span><strong>x</strong></span></a>
        </div>
        <div class="minimize-ubuntu">
          <a class="minimizebutton-ubuntu" href="#"><span><strong>&ndash;</strong></span></a>
        </div>
        <div class="zoom-ubuntu">
          <a class="zoombutton-ubuntu" href="#"><span><strong>+</strong></span></a>
        </div>
      </div>
      {{ .Get 0 }}: {{ .Get 1 }}
    </div>
    <div class="terminal-ubuntu">
      <ul>
        {{ range split .Inner "\n" }}
        {{ $line := replace . " " "&nbsp;" }}
        <li>{{ printf "%s" $line | safeHTML }}</li>
        {{ end }}  
      </ul>
    </div>
  </div>